<!doctype html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="web/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="web/css/styles.css"/>
    <meta charset="UTF-8">
    <title>Nested Comments</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

<h1>Comments</h1>

<div class="controls">
    <span id="add-comment">Add New Comment</span>
</div>

{foreach $comments as $comment}
    <div class="comment" data-id="{$comment->getId()}">
        <span class="button closed"></span>
        <span class="text">{$comment->getText()}</span>
        <span class="button delete"></span>
    </div>
{/foreach}

</body>
</html>
