<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Nested Comments</title>
    <link href="/css/styles.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/scripts.js"></script>
</head>
<body>

<h1>Comments</h1>

{foreach $comments as $comment}
    <div class="comment" data-id="{$comment->getId()}">
        <div class="viewall">
            <span class="button open" title="View all child comments">view thread</span>
        </div>
        <div class="text">{$comment->getText()}</div>
        <div class="buttons">
            <span class="button reply" title="Reply to this comment"></span>
            <span class="button edit" title="Edit this comment"></span>
            <span class="button delete" title="Delete this comment and all his children"></span>
        </div>
    </div>
{/foreach}

<div class="controls">
    <span id="add-comment" title="Add new comment">Add New Comment</span>
</div>

</body>
</html>
